/* Global styles
-----------------------------------------*/
body {
    color: #343434;
}
img {
    width:300px
}
a {
    color: #d16dff;
}
a:hover {
    text-decoration: none;
}


/* Profile
-----------------------------------------*/
header {
    background-color: #ccb2c1;
    color: #f7fff7;
}


/* Projects
-----------------------------------------*/
.projects {
    background-color: #f7fff7;
}
.projects a{
    color: #2F3061 ;
}
.projects .btn{
    color: #f7fff7;
    background-color: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover{
    background-color: rgb(47,48,97, 80%);
}


/* Work Experience
-----------------------------------------*/
.work-experience {
    background-color: #A1C6D7;
}


/* Education
-----------------------------------------*/



/* Contact Information
-----------------------------------------*/
footer {
    background-color: #343434;
    color: #f7fff7;
}

